*{margin :0; padding:0;}


header{
	background-color: #007bff;
  	color: #fff;
  	border-color: #007bff;

}
.titulo{
    font-weight: 300;
    font-size: 40px;
    font-family: 'Merriweather', serif;  }

.padre{
    padding : 40px;
    display :flex;                      /*pone los dos elementos en el eje principal*/
    justify-content : space-evenly;      /*eje principal*/
    align-items : center;               /*eje secundario*/
}

.hijo{   width:50%; }

.img{width: 500px; height: 500px;
	   animation: ease-in animat 1s;}


.i{border-radius: 100px;}

